brazilcep==6.7.0
certifi==2024.12.14
charset-normalizer==3.4.1
correios==6.4.8
et_xmlfile==2.0.0
idna==3.10
inquirerpy==0.3.4
markdown-it-py==3.0.0
mdurl==0.1.2
numpy==2.2.1
openpyxl==3.1.5
pandas==2.2.3
pfzy==0.3.4
phonenumbers==8.13.52
pillow==11.1.0
prompt_toolkit==3.0.48
Pygments==2.19.1
python-dateutil==2.9.0.post0
pytz==2024.2
requests==2.32.3
rich==13.9.4
six==1.17.0
tzdata==2024.2
urllib3==2.3.0
wcwidth==0.2.13
